
[data-role=header]{border:none !important;}
[data-role=footer]{position:fixed !important; height:50px !important}


div{text-shadow:none !important}
.ui-checkbox{margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0}


.ui-icon-goback:after{
	background:#000000 url("../images/goback.png") 50% 50% no-repeat; background-size: 32px 32px;  
	box-shadow: none;
    -webkit-box-shadow: none;
    margin-top:10px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-goback:after {
		background:#000000  url("../images/goback.png") 50% 50% no-repeat;
		background-size: 36px 36px;
		background-color:#000000;
		 margin-top:10px;
	}
	
}


.ui-icon-next:after{
	background:#F6F6F6 url("../images/next.png") 50% 50% no-repeat; background-size: 32px 32px; 
	box-shadow: none;
    -webkit-box-shadow: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-next:after {
		background:#F6F6F6  url("../images/next.png") 50% 50% no-repeat;
		background-size: 36px 36px;
		background-color:#F6F6F6;
	}
	
}


.ui-icon-carat-r:after{
	background-color:#2A2A2A;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-carat-r:after {
		background-color:#2A2A2A;
	}
	
}



.ui-icon-menu-bars:after{
	background:#101010 url("../images/menu-bars.png") 50% 50% no-repeat; background-size: 32px 32px; 
	box-shadow: none;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    width:22px;
    height:22px;
    margin-top:-12px;/*Adjust this value to position the icon*/
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-menu-bars:after {
		background:#101010  url("../images/menu-bars.png") 50% 50% no-repeat;
		background-size: 36px 36px;
		background-color:#101010 !important;
		-moz-border-radius:0px;
	   -webkit-border-radius:0px;
	    border-radius:0px;
	    width:22px;
	    height:22px;
	    margin-top:-12px;/*Adjust this value to position the icon*/
	}
	
}



.ui-icon-gears:after{
	background:#101010 url("../images/gear.png") 50% 50% no-repeat; background-size: 32px 32px; 
	box-shadow: none;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    width:22px;
    height:22px;
    margin-top:-12px;/*Adjust this value to position the icon*/
  
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-gears:after {
		background:#101010  url("../images/gear.png") 50% 50% no-repeat;
		background-size: 36px 36px;
		background-color:#101010 !important;
		-moz-border-radius:0px;
	   -webkit-border-radius:0px;
	    border-radius:0px;
	    width:22px;
	    height:22px;
	    margin-top:-12px;/*Adjust this value to position the icon*/
	}
	
}


.ui-icon-filter:after{
	background:#101010 url("../images/filter.png") 50% 50% no-repeat; background-size: 32px 32px; 
	box-shadow: none;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    width:22px;
    height:22px;
    margin-top:-12px;/*Adjust this value to position the icon*/
  
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-filter:after {
		background:#101010  url("../images/filter.png") 50% 50% no-repeat;
		background-size: 36px 36px;
		background-color:#101010 !important;
		-moz-border-radius:0px;
	   -webkit-border-radius:0px;
	    border-radius:0px;
	    width:22px;
	    height:22px;
	    margin-top:-12px;/*Adjust this value to position the icon*/
		
	}
	
}





.ui-icon-phone:after{
	background:#101010 url("../images/phone.png") 50% 50% no-repeat; background-size: 16px 16px; 
	box-shadow: none;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    padding:0 !important;
   
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-phone:after {
		background:#101010  url("../images/phone.png") 50% 50% no-repeat; background-size:32px 32px;
		background-size: 36px 36px;
		background-color:#101010 !important;
		-moz-border-radius:0px;
	   -webkit-border-radius:0px;
	    border-radius:0px;
	    padding:0 !important;
	    
	}
	
}







.ui-shadow{
	box-shadow:none !important;
}

.ui-btn.ui-corner-all, input .ui-corner-all{
	border-radius:0px !important;
	
}
.ui-corner-all{
	border-radius:0px !important;
	border:none;
}

.company .name{
	font-size:22px;	
	color
}

.company .phone{
	height:16px;
	width:16px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.company .phone{
	height:18px;
	width:18px;
}
}
.company .envelope{
	height:16px;
	width:16px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.company .envelope{
	height:18px;
	width:18px;
}
}
.company .contact{
	height:16px;
	width:16px;
}
.company .products{
	height:16px;
	width:16px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.company .contact{
	height:18px;
	width:18px;
}
}


.company .globe{
	height:16px;
	width:16px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.company .globe{
	height:18px;
	width:18px;
}
}

.company .wrench{
	height:16px;
	width:16px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.company .wrench{
	height:18px;
	width:18px;
}
}


.ui-checkbox .lblsub, .ui-checkbox .chksub{
	margin-left:30px;
}
p.info-text{
	margin:0;padding:0;font-size:12px;font-weight:bold;
}

label{
	font-weight:bold !important;
}




.ui-btn{
	text-shadow:none !important;
	
}


html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited{
	border-color:#F9F9F9;
	border:none !important;
	border-bottom:10px solid #353535;
}
.ui-body-b, .ui-page-theme-b .ui-body-inherit, html .ui-bar-b .ui-body-inherit, html .ui-body-b .ui-body-inherit, html body .ui-group-theme-b .ui-body-inherit, html .ui-panel-page-container-b{
	
	border-top:none;
	border-bottom:5px solid #353535;
}
.center {
   position: absolute;
   text-align:center;
}
.animClass {
	-webkit-transform: translate3d(0, 0, 0);
	/* more specific animation properties here */
}


